//---------- VARS ----------//
:root {
  --color-primary: #05060A;
  --color-secondary: #FAFAFA;
  --brand: #5DE2E9;
  --brand-dark: #2F969C;
  --brand-add: #E8945D;

}

//---------- RESET ----------//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  @media (max-width: 1080px) {
      font-size: 93.75%;
  }
  @media (max-width: 720px) {
      font-size: 87.5%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
    &.square {
        width: 2.5rem;
        height: 2.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        transition: filter 0.3s;
        @media (max-width: 879px) {
            width: 2rem;
            height: 2rem;
        }
    }

    &.circle {
        width: 3rem;
        height: 3rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: filter 0.3s;
        
        @media (max-width: 879px) {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    &:hover {
        filter: brightness(0.9);
    }
}

.container {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  display: flex;
}

.call-to-action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 223px;
  height: 51px;
  border-radius: .5rem;
  transition: filter .3s;

  &:hover {
    filter: brightness(0.9);
  }

  i {
    font-size: 1.5rem;
  }

  p {
    font-weight: 600;
  }
}

//---------- HEADER ----------//
header {
  border-bottom: 1px solid rgb(34, 34, 34, 0.3);

  .container {
    justify-content: space-between;
    align-items: center;
  }

  .left-items {
      display: flex;
      align-items: center;
      gap: 10rem;

      @media (max-width: 879px) {
          gap: 0;
      }

    nav {
      height: 4.5rem;

    .menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        @media (max-width: 879px) {
            display: none;
        }

      a {
        display: inline-flex;
        height: 4.5rem;
        align-items: center;
        position: relative;
        color: var(--color-primary);
        font-family: var(--default-font-family);
        font-weight: 500;
        line-height: 130%;

        &::after {
            content: "";
            display: block;
            width: 0%;
            height: 2px;
            position: absolute;
            bottom: 0;
            background: var(--color-primary);
            border-radius: 2px;
            transition: 0.3s;
        }

        &:hover {
          &::after {
              width: 100%;
          }
        }
      }
    }
  }
}
.contact-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      color: var(--color-secondary);
      background-color: var(--brand-dark);
      transition: filter 0.3s;
    }
  }
}

//---------- HOME ----------//
#home {

  .container {
    justify-content:space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    @media (max-width: 1032px) {
      justify-content:center;
    }
  }

  .home-text {  
    max-width:474px;
    margin-left: 2rem;

    @media (max-width: 1032px) {
      padding: 8.75rem 0 8.75rem 0;
      max-width: 100%;
      text-align: center;
      margin: 0;
    }

    @media(max-width: 475px) {
      padding: 4.25rem 0 4.25rem 0;
    }

    h1 {
      font-size: 4rem;
      font-weight: 900;

      @media (max-width:475px) {
        font-size:3rem;
      }
    }

    p {
      line-height: 1.625rem;
      
    }  
  }

  .buttons-container {
    margin-top: 3rem;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @media (max-width: 474px) {
      justify-content:center;
    }
    
    .call-to-action {
      background: var(--brand-dark);
      color: var(--color-secondary);
    }

    .marketplace {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 175px;
      height: 51px;
      border-radius: .5rem;
      border: 2px solid var(--brand-dark);
      color: var(--brand-dark);
      font-weight: 600;
      transition: background .3s, color .3s;

      &:hover {
        background: var(--brand-dark);
        color: var(--color-secondary);
        filter: brightness(1);
      }

      i {
        font-size: 1.5rem;
      }
    }
  }


  .home-image-container {
    width: 364px;
    height: 561px;
    background: var(--brand);
    margin-right: -2rem;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;

    @media (max-width: 1032px) {
      display: none;
    }

    .home-image {
      width: 360px;
      height: 360px;
      background: var(--color-elements);
      border-radius: 50%;
      position: absolute;
      left: -11.5rem;
      box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    }
  }
}

//---------- ABOUT ----------//
#about {
  padding: 2.5rem 0;
  margin-top: 73px;

  .content {
    width: 100%;
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: var(--brand-dark);
    color: var(--color-secondary);
    border-radius: 2rem 2rem 0 2rem;
    padding: 0 2rem;
    position: relative;

    @media (max-width: 879px) {
      flex-direction: column;
      padding-bottom: 2.5rem;

      .seal-icon {
        display: none;
      }
      .circle {
        width: 3rem;
        height: 3rem;
      }
  }

    .business-image {
      flex-shrink: 0;
      width: 320px;
      height: 387px;
      background-color: var(--color-elements);
      margin-top: -73px;
      border-radius: 1rem 1rem 0 0;
      box-shadow: 2px 0px 4px 0px rgba(0,0,0,0.25);
      object-fit: cover;

      @media (max-width: 425px) {
        height: 290px;
      }

      @media (max-width: 879px) {
        width: min(100%,320px);
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
      }
    }

    .about-text {
      width: 100%;
      @media (max-width: 879px) {
        text-align: center;
    }

      h2 {
        font-size: 3rem;
      }

      p {
        max-width: 441px;
        line-height: 1.625rem;
        font-size: 1rem;

        @media (max-width: 879px) {
          max-width: 100%;
        }
      }

      .buttons-container {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 425px) {
          flex-direction: column;
          gap: 2rem;
        }

        .call-to-action {
          background: var(--brand-add);
          color: var(--color-secondary);
        }
        .circle {
          background: var(--brand-add);
          color: var(--color-secondary);

           &:hover {
             filter: brightness(0.9);
           }

           i {
             font-size: 1.2rem;
           }
        }
      }
    }
  }
  .seal-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
}

//---------- QUESTIONS ----------//

#questions {
  background: var(--color-secondary);
  .container {
    display: block;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .questions-info {
    text-align: center;
    margin-bottom: 4rem;

    h2 {
      font-size: 3rem;
      font-weight: 600;

      &::after {
        content: "";
        display: block;
        width: 10rem;
        height: 2px;
        border-radius: 1px;
        background-color: var(--color-primary);
        margin: 1rem auto;
      }
    }

  }
  .questions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
    justify-content: center;

    @media (max-width: 687px) {
      grid-template-columns: 1fr;
    }

    .accordion {
      flex-basis: 526px;
      max-height: 80px;
      overflow: hidden;
      padding: 0 2rem 0 2rem;
      border: 2px solid var(--color-primary);
      border-radius: .5rem;
      transition: max-height .3s;
      position: relative;

      &.open {
        max-height: 100%;

        & .icon-plus {
          transform: rotate(135deg);
        }

        @media( max-width: 469px) {
          max-height: 250px;
        }
      }

      .question-ask {
        width: 100%;
        display: flex;
        padding: 0 2rem;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 27px;
        left: 0;

        @media (max-width: 337px) {
          top: 21px;
        }

        i {
          font-size: 1.5rem;
          cursor: pointer;
          transition: transform .3s;

          &:hover {
            color: #3f3f46;
          }
        }
      }

      .question-ans {
        margin-top: 5.4rem;
        padding-bottom: 2.1rem;
      }
    }
  }
}

//---------- FOOTER ----------//
footer {
  background-color: var(--brand-dark);
  color: var(--color-secondary);
  padding: 1rem 0 2rem 0;

  .container {
    display: block;
  }
  
  .footer-menu {
    display: flex;

    @media (max-width: 879px) {
        flex-direction: column;
    }

    .seal-container {
      align-self: flex-start;
    }
  
    .footer-links {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 4rem;
      padding: 0 3rem;

      @media (max-width: 1140px) {
        gap: 2rem;
        padding: 0;
        margin-top: 2rem;
      }
      
      ul {
        li:first-child {
          font-weight: 600;
          margin-bottom: .5rem;
        }
  
        li {
          a {
            color: var(--color-secondary);
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          & + li {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .rights {
    font-weight: 100;
    font-size: .75rem;
    margin-top: 3rem;
  }
}

