//Vars
:root {
  --color-primary: #222222;
  --color-secondary: #fafafa;
  --color-elements: #3f3f46;
  --default-font-family: "Montserrat", sans-serif;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 1440px 100%;
  border: 1px solid rgba(34, 34, 34, 0.5);
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
}

.logo-container {
  margin-left: 159px;
  display: flex;
}

.logo {
  text-decoration: solid;
  color: var(--color-primary);
  background-color: var(--color-primary);
  font-weight: 800;
  font-style: normal;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
.menu {
  display: flex;
  justify-content: space-between;
}

.opcoes-menu {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

ul {
  a {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px 25px 10px;
  }
  a:hover {
    border: 1px solid var(--color-primary);
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
  }
}

.icons {
  display: flex;
  justify-items: center;
  margin-right: 159px;
  a {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 5px 0px 5px;
  }
  .instagram {
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
  }
  .facebook {
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 30%;
  }
  .phone {
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 30%;
  }
}
