//---------- VARS ----------//
:root {
  --color-primary: #222222;
  --color-secondary: #fafafa;
  --color-elements: #3f3f46;
}

//---------- RESET ----------//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 2rem ;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//---------- HEADER ----------//
header {
  border-bottom: 1px solid rgb(34, 34, 34, .3);
  .left-items {
    display: flex;
    align-items: center;
    gap: 10rem;

    @media(max-width: 879px) {
      gap: 0;
    }

    nav {
      height: 4.5rem;

      .menu {
        display: flex;
        gap: 1.5rem;
        align-items: center;
  
        @media(max-width: 879px) {
          display: none;
        }
  
          a {
            display: inline-flex;
            height: 4.5rem;
            align-items: center;
            position: relative;
            color: var(--color-primary);
            font-family: var(--default-font-family);
            font-weight: 500;
            line-height: 130%;
  
            &::after {
              content: "";
              display: block;
              width: 0%;
              height: 2px;
              position: absolute;
              bottom: 0;
              background: var(--color-primary);
              border-radius: 2px;
              transition: .3s;
            }
            &:hover{
              &::after {
                width: 100%;
              }
            }
          }      
        }
      }
    }
    .contact-icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      
      a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-secondary);
        background-color: var(--color-primary);
        transition: filter .3s;
        
        &.square {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: .5rem;
          
          @media(max-width: 879px) {
            width: 2rem;
            height: 2rem;
          }
        }

        &.circle {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;

          @media(max-width: 879px) {
            width: 2.5rem;
            height: 2.5rem;
          }
        }

        &:hover {
          filter: brightness(.7);
        }
    }
  }
}